body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #576d8c;
  }
  .container {
    margin: 100px auto;
    width: 300px;
    text-align: center;
  }
  .bar-container {
    background: #f0f0f0;
    height: 5px;
    width: 100%;
    border-radius: 2px;
  }
  .progress {
    padding: 1px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}
.progress-bar {
    height: 14px;
    background-color: #ee303c;
    border-radius: 4px;
    transition: 0.4s linear;
    transition-property: width, background-color;
}
.progress-striped .progress-bar {
    background-color: #fcbc51;
    width: 100%;
    background-image: linear-gradient(45deg, #fca311 25%, transparent 25%, transparent 50%, #fca311 50%, #fca311 75%, transparent 75%, transparent);
    animation: progressAnimationStrike 6s;
}
@keyframes progressAnimationStrike {
    from {
        width: 0;
   }
    to {
        width: 100%;
   }
}
.progress2 {
    padding: 6px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}
.progress-bar2 {
    height: 18px;
    border-radius: 30px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;
    transition-property: width, background-color;
}
.progress-moved .progress-bar2 {
    width: 85%;
    background-color: #ef476f;
    animation: progressAnimation 6s;
}
@keyframes progressAnimation {
    0% {
        width: 5%;
        background-color: #f9bcca;
   }
    100% {
        width: 85%;
        background-color: #ef476f;
   }
}
.progress-bar3 {
    height: 18px;
    border-radius: 4px;
    background-image: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #7dc8e8, #5856d6, #ff2d55);
    transition: 0.4s linear;
    transition-property: width, background-color;
}
.progress-infinite .progress-bar3 {
    width: 100%;
    background-image: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #7dc8e8, #5856d6, #ff2d55);
    animation: colorAnimation 1s infinite;
}
@keyframes colorAnimation {
    0% {
        background-image: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #7dc8e8, #5856d6, #ff2d55);
   }
    20% {
        background-image: linear-gradient(to right, #5ac8fa, #007aff, #7dc8e8, #5856d6, #ff2d55, #4cd964);
   }
    40% {
        background-image: linear-gradient(to right, #007aff, #7dc8e8, #5856d6, #ff2d55, #4cd964, #5ac8fa);
   }
    60% {
        background-image: linear-gradient(to right, #7dc8e8, #5856d6, #ff2d55, #4cd964, #5ac8fa, #007aff);
   }
    100% {
        background-image: linear-gradient(to right, #5856d6, #ff2d55, #4cd964, #5ac8fa, #007aff, #7dc8e8);
   }
}
